.section1 {
    padding-bottom: 3rem;
    padding-top: 5rem;
}

.section1 h3 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.contacTxtDiv.contactDiv1,
.contacTxtDiv.contactDiv2 {
    margin-right: 1rem;
}

.form {
    padding: 2rem;
    border: 0.5px solid #AFAFAF;
}

.form p {
    margin-bottom: 5px;
    font-size: 13px;
}

.form input {
    border: 0.5px solid #ECECEC;
    background: #FAFAFA;
    padding: 5px 0px 5px 15px;
}

.form input::placeholder {
    color: #C3C3C3;
    font-size: 11px;
    font-weight: 400;
}

.msgInput {
    width: 100%;
    padding-bottom: 5rem !important;
    margin-bottom: 2rem;
}

.submitBtn {
    text-align: end;
    margin-bottom: 2rem;
}

.submitBtn input {
    padding: 6px 15px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: unset;
    border: 1px solid #222;
}

.contacTxtDiv {
    width: 25%;
}

.contacTxtDiv.contactDiv1 {
    width: 50%;
}

.contacTxtDiv p {
    font-size: 12px;
    margin-bottom: .3rem;
}

.contacTxtDivMbl{
    margin-left: 4rem;
}

.contacTxtDiv a {
    font-size: 14px;
    color: #222;
    font-weight: 400;
}

.addressCntr {
    padding-left: 2rem;
}

.addressCntr iframe {
    width: 100%;
    height: 280px;
    border-radius: 10px;
    margin-top: 2rem;
}

.form input:focus-visible {
    outline: unset;
}

.inputCntr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.addressDiv {
    display: flex;
    align-items: start;
}


@media only screen and (max-width: 600px) {
    .section1 {
        padding-top: 3rem;
    }

    .addressCntr {
        padding-left: unset;
        padding-top: 2rem;
    }

    .form {
        padding: 1rem;
    }

    .inputCntr {
        flex-direction: column;
        margin-bottom: 0;
    }

    .inputCntr input {
        width: 100%;
    }

    .form input {
        border-radius: 4px;
    }

    .inputDiv {
        margin: 0.5rem 0;
    }

    .submitBtn {
        margin-bottom: 1rem;
    }

    .addressDiv {
        flex-direction: column;
    }

    .contacTxtDiv {
        margin-bottom: 1rem;
        width: 75% !important;
    }
}