.hero {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%), url(/assets/images/banners/awards-and-recognition.jpg);
    height: calc(100vh - 86px);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 2rem;
    background-repeat: no-repeat !important;
    background-size: cover;
}

.hero h3 {
    letter-spacing: 4px;
    color: #fff;
}

.section1 {
    padding-top: 10rem;
    padding-bottom: 3rem;
    position: relative;
    overflow: hidden;
}

.section1::before {
    content: 'AWARDS&';
    position: absolute;
    top: 0;
    right: -3rem;
    color: #F8F8F8;
    font-family: 'Helvetica';
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 8px;
    width: fit-content;
    height: fit-content;
}

.awardsCntr {
    border-radius: 12px;
    border: 0.81px solid #D1D1D1;
    margin-bottom: 4rem;
}

.awardsImgCntr {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: #e9b529;
}

.awardsImgCntr img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 2rem 8rem;
}

.awardsTxtCntr {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.brandImg {
    width: 100px;
    height: 100%;
    object-fit: contain;
}

.excellenceImg {
    width: auto;
    height: auto;
    object-fit: contain;
    margin-right: 1rem;
}

.section1 p {
    font-size: 12px;
}

@media only screen and (max-width:600px) {
    .awardsTxtCntr {
        flex-direction: column;
        align-items: flex-start;
    }

    .excellenceImg {
        margin-bottom: 1rem;
    }

    .awardsImgCntr img {
        padding: 2rem !important;
    }
    .section1::before {
        content: unset;
    }
    .section1{
        padding-top: 3rem;
    }
    .hero{
        background-image: url(/assets/images/banners/awards-and-recognition-mob-banner.png);
    }
}