.projSection {
  position: relative;
  /* overflow: scroll; */
}

/* .projSection::-webkit-scrollbar {
    display: none;
} */

.homeSection h3 {
  font-weight: 600;
  font-size: 15px;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 1.2rem;
  padding-bottom: 0.5rem;
}
/* background: linear-gradient(180deg, #222222f0 8%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 106%), url(/assets/images/home-banner.png); */
.home1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  font-family: Bebas Neue;
}

.homeHighlight {
  position: absolute;
  bottom: 0;
  left: 3em;
  right: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-height: 10rem;
  /* gap: 1em; */
  font-family: Bebas Neue;
}

.highlightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  min-height: 3.75rem;
}

.highlightbox:not(:last-child) {
  border-right: 1px solid #fff;
}

.highlightbox>img {
  padding-right: 0.75em;
}

.highlightbox>p {
  font-size: 1.40em;
  letter-spacing: 1.25px;
  line-height: 1em;
}

.rightBorder {
  /* border-right: 1px solid #fff; */
  height: 60px;
}

.highlightImg {
  max-height: 35px;
}

.homeEnquire {
  position: fixed;
  right: 5%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  gap: 0.5em;
  z-index: 999;
}

.homeEnquireIcon {
  cursor: pointer;
}

.homeEnquireIcon:nth-child(1)>img {
  background: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.homeEnquireIcon:nth-child(2)>img {
  height: 50px;
  width: 50px;
}

.homeEnquireBtn {
  border-radius: 0.125rem;
  background: #b0fbc5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #282828;
  font-weight: 700;
  padding: 0.5em 1em;
  cursor: pointer;
}

.stickyNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0em 3em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  min-height: 2em;
  z-index: 999;
  overflow: scroll;
  background: #f4f4f4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.stickyNav::-webkit-scrollbar {
  display: none;
}

.stickyNav>.navLinkItem {
  color: #a0a0a0;
  text-transform: uppercase;
  font-family: Bebas Neue;
  font-size: 1.2em;
  padding: 0.25em 1em;
  display: grid;
  place-items: center;
  cursor: pointer;
  min-height: 2em;
  white-space: pre;
  letter-spacing: 0.75px;
}

.navLinkItem.active,
.navLinkItem:hover {
  color: #fff;
  background: #c91233;
  min-height: 2em;
}

.adobeOfNature {
  width: 100%;
}

.noProject {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.heading {
  color: #222222;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 4px;
  margin-bottom: 0px;
}

@media screen and (max-width: 425px) {
  .home1 {
    height: calc(100vh - 132px);
  }

  .homeHighlight {
    flex-wrap: wrap;
    gap: 0.25em;
    max-height: unset;
    right: 15%;
    left: 1em;
  }

  .heading {
    font-size: 28px;
  }

  .highlightImg,
  .rightBorder {
    max-height: 30px;
    transition: all 0.25s linear;
  }

  .highlightbox {
    padding: 0.25em;
    min-height: 1.75rem;
  }

  .adobeOfNature {
    width: 100%;
    min-height: 180px;
    max-height: 250px;
  }

  .stickyNav {
    padding: 0em;
  }
  .homeEnquire{
    align-items: flex-end; 
  }
}